doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Mes activités
  body.backgroundImg
    include ./header.jade
    .infos
      span
        - let fName = user.fName
        p.info Nom: #{fName}
        - let lName = user.lName
        p.info Prénom: #{lName}
        - let email = user.email
        p.info email: #{email}
        - let birth = user.birthday
        p.info Date de naissance: #{birthday}
        - let sexe = user.sexe
        p.info Sexe: #{sexe}
        - let height = user.height
        p.info Taille: #{height}
        - let weight = user.weight
        p.info Poids: #{weight}
    .activity-div

      table
        thead
          tr
            th Nom
            th Date
            th Description
            th Distance (en km)
            th Temps
            th Commencé à
            th Fréquence min
            th Fréquence moy
            th Fréquence max
        tbody
          each act in data
            tr
              td= act.idAct
              td= act.date
              td= act.description
              td= act.distance
              td= act.ttTime
              td= act.startTime
              td= act.freqMin
              td= act.freqMoy
              td= act.freqMax